<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{#        <script src="https://js.stripe.com/v3/"></script>#}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/navbar.html.twig' %}
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin.categories.list') }}">Categories</a></li>
                            <li><a href="{{ path('admin.products.list') }}">Products</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path('admin.users.list') }}">Users</a></li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin.subscriptions.list') }}">Subscriptions</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CUSTOMER') %}
                            <li><a href="{{ path('admin.subscriptions.list') }}">Subscriptions</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}

    </body>
</html>
