<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('products.list') }}" style="color: #28a745">Magaz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('payment') }}">Payments</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign in
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Sign out</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CUSTOMER') %}
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="{{ path('admin.products.list') }}">Admin Panel</a>
                    {% endif %}
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin.products.list') }}">Admin Panel</a>
                </li>
            {% endif %}
        </ul>
        <div class="float-right">
            <div class="container">
                <div class="row">
                    <div class="sol-sm">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="sol-sm">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-link disabled" href="#">Logged in as <i><strong>{{ app.user.username }}</strong></i></a>
                        {% endif %}
                    </div>
                    <div class="sol-sm">
                        <a href="{{ path('products.list') }}">
                            <img style="max-width: 40px; max-height: 40px; margin-left: 15px; margin-right: 20px" src="{{ asset(images_directory ~ '/' ~ 'magaz_logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
