{% extends 'base.html.twig' %}

{% block title %}Magaz Payment{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('stripe_payment') }}#}
    {{ encore_entry_link_tags('stripe_subscription_global_style') }}
    {{ encore_entry_link_tags('stripe_subscription_normalize_style') }}
{% endblock %}

{% block body %}
{#    <br>#}
{#    <input id="clientSecret" type="hidden" value="{{ clientSecret }}">#}
{#    <input id="subscription" type="hidden" value="{{ subscription }}">#}
{#    <div class="container-sm stripe">#}
{#        <!-- Use the CSS tab above to style your Element's container. -->#}
{#        <form id="subscription-form">#}
{#            <label for="card-element">Payment details</label>#}
{#            <div id="card-element" class="MyCardElement" style="max-width: 400px; max-height: 40px">#}
{#            </div>#}
{#            <div id="card-errors" role="alert"></div>#}
{#            <br>#}
{#            <button style="width: auto" type="submit">Subscribe</button>#}
{#        </form>#}
{#    </div>#}

    <div class="sr-root">
        <div class="sr-main">
            <header class="sr-header">
{#                <div class="sr-header__logo"></div>#}
                <div class="sr-header">
                    <img style="max-height: 110px; max-width: 110px; margin-left: 15px; margin-top: 120px" src="{{ asset(images_directory ~ '/' ~ 'magaz_logo.png') }}" alt="">
                </div>
            </header>
            <div class="sr-payment-summary payment-view">
                <h1 class="order-amount">$14.00</h1>
                <h4>Subscribe to the 3 photo plan</h4>
            </div>
            <form id="subscription-form">
                <div class="sr-payment-form payment-view">
                    <div class="sr-form-row">
                        <label for="card-element">
                            Payment details
                        </label>
                        <div class="sr-combo-inputs">
                            <div class="sr-combo-inputs-row">
                                <input
                                        type="text"
                                        id="email"
                                        placeholder="Email"
                                        autocomplete="cardholder"
                                        class="sr-input"
                                />
                            </div>
                            <div class="sr-combo-inputs-row">
                                <div class="sr-input sr-card-element" id="card-element"></div>
                            </div>
                        </div>
                        <div class="sr-field-error" id="card-errors" role="alert"></div>
                    </div>
                    <button id="submit">
                        <div id="spinner" class="hidden"></div>
                        <span id="button-text">Subscribe</span>
                    </button>
                    <div class="sr-legal-text">
                        Your card will be immediately charged
                        <span class="order-total">$14.00</span>.
                    </div>
                </div>
            </form>
            <div class="sr-payment-summary hidden completed-view">
                <h1>Your subscription is <span class="order-status"></span></h1>
                <h4>
                    <a>View subscription response:</a>
                </h4>
            </div>
            <div class="sr-section hidden completed-view">
                <div class="sr-callout">
                    <pre><code></code></pre>
                </div>
                <button onclick="window.location.href='/'">Restart demo</button>
            </div>
        </div>
        <div class="sr-content">
            <div class="pasha-image-stack">
                <img
                        src="https://picsum.photos/280/320?random=1"
                        width="140"
                        height="160"
                />
                <img
                        src="https://picsum.photos/280/320?random=2"
                        width="140"
                        height="160"
                />
                <img
                        src="https://picsum.photos/280/320?random=3"
                        width="140"
                        height="160"
                />
                <img
                        src="https://picsum.photos/280/320?random=4"
                        width="140"
                        height="160"
                />
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{#     <script src="https://js.stripe.com/v3/"></script>#}
     {{ encore_entry_script_tags('stripe_subscription') }}
{% endblock %}
